@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.slidein-transition {
  -webkit-animation: fadein 500ms ease-in;
          animation: fadein 500ms ease-in;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slidein-from-right {
  -webkit-animation: slidein-from-right 500ms;
          animation: slidein-from-right 500ms;
}

@-webkit-keyframes slidein-from-right {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes slidein-from-right {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.slidein-from-left {
  -webkit-animation: slidein-from-left 500ms;
          animation: slidein-from-left 500ms;
}

@-webkit-keyframes slidein-from-left {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes slidein-from-left {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: 0;
}

html {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  cursor: url("../../images/cursor_plain_60.cur"), default;
  overflow: hidden;
}

h1 {
  color: red;
}

.hide {
  display: none;
}

.grey-bar {
  width: 100vw;
  height: 5vh;
  background-color: #A8A8A8;
}

.btn-check, .btn-check:link, .btn-check:visited {
  text-decoration: none;
  border-radius: 10rem;
  border: 1px solid #000;
  font-size: 4rem;
  background-color: #05DA34;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
}

.btn-check:hover {
  background-color: #00ff37;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn-check:active {
  outline: none;
  background-color: #00ff37;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-box-shadow: inset 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}

.button {
  cursor: url("../../images/cursor_point_60.cur"), default;
  background-color: transparent;
  border: none;
}

.btn-options {
  -ms-grid-column: 13;
  -ms-grid-column-span: 4;
  grid-column: 13 / span 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 /span 1;
}

.btn-hint {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 /span 1;
}

.btn-hint--image {
  width: 6rem;
  height: auto;
}

.btn-information {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 /span 1;
}

.btn-information--image {
  width: 6rem;
  height: auto;
}

.btn-music {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / span 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 /span 1;
}

.btn-music--image {
  width: 6rem;
  height: auto;
}

.btn-music-off {
  visibility: hidden;
}

.btn-speak {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / span 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 /span 1;
}

.btn-speak--image {
  width: 6rem;
  height: auto;
}

.btn-speak-off {
  visibility: hidden;
}

.btn-explane {
  width: 6rem;
  height: auto;
}

.btn-ok, .btn-ok:link, .btn-ok:visited {
  text-decoration: none;
  padding: 0rem 3rem;
  border-radius: 10rem;
  border: 1px solid #000;
  font-size: 2rem;
  background-color: #05DA34;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  margin-top: 1rem;
}

.btn-ok:hover {
  background-color: #00ff37;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn-ok:active {
  outline: none;
  background-color: #00ff37;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-box-shadow: inset 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}

.next-page-right {
  text-decoration: none;
  -ms-grid-column: 15;
  -ms-grid-column-span: 2;
  grid-column: 15 / span 2;
  -ms-grid-row: 4;
  -ms-grid-row-span: 3;
  grid-row: 4 /span 3;
  width: 100%;
  height: 100%;
  background-color: rgba(239, 239, 239, 0.65);
  -webkit-clip-path: polygon(0% 30%, 60% 30%, 60% 0%, 100% 50%, 60% 100%, 60% 70%, 0% 70%);
          clip-path: polygon(0% 30%, 60% 30%, 60% 0%, 100% 50%, 60% 100%, 60% 70%, 0% 70%);
}

.next-page-left {
  text-decoration: none;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-row: 4;
  -ms-grid-row-span: 3;
  grid-row: 4 /span 3;
  width: 100%;
  height: 100%;
  background-color: rgba(239, 239, 239, 0.65);
  -webkit-clip-path: polygon(40% 0%, 40% 30%, 100% 30%, 100% 70%, 40% 70%, 40% 100%, 0% 50%);
          clip-path: polygon(40% 0%, 40% 30%, 100% 30%, 100% 70%, 40% 70%, 40% 100%, 0% 50%);
}

.drag {
  width: 250px;
  height: 50px;
  display: block;
  background-color: red;
  cursor: url("../../images/cursor_grab_60.cur"), default;
}

.form {
  background-color: #ddd;
  position: absolute;
  right: 0vw;
  bottom: 2vh;
  width: 25vw;
  height: 25vh;
  margin: 2rem;
  border-radius: 3rem;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (minmax(0, 1fr))[3];
      grid-template-rows: repeat(3, minmax(0, 1fr));
  -ms-grid-columns: (minmax(0, 1fr))[6];
      grid-template-columns: repeat(6, minmax(0, 1fr));
}

.form__label {
  margin-top: 1rem;
  font-size: 4rem;
  display: block;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / span 4;
  -ms-grid-row: 1;
  grid-row: 1;
}

.form__input {
  height: 4rem;
  margin-top: 1.5rem;
  padding-left: 1rem;
  font-size: 2rem;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / span 4;
  -ms-grid-row: 2;
  grid-row: 2;
}

.form__button {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / span 2;
  -ms-grid-row: 3;
  grid-row: 3;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.speech-bubble {
  position: relative;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
  width: 38.5rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background: #fff;
  border-radius: 4rem;
  padding: 2rem;
  text-align: center;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
}

.speech-bubble::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 2.4rem solid #fff;
  border-right: 1.2rem solid transparent;
  border-top: 1.2rem solid #fff;
  border-bottom: 2rem solid transparent;
  left: 3.2rem;
  bottom: -2.4rem;
}

.walk-path {
  width: 100vw;
  height: 12vh;
  background-color: #F0EAD2;
}

.grid-16-8 {
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (minmax(0, 1fr))[8];
      grid-template-rows: repeat(8, minmax(0, 1fr));
  -ms-grid-columns: (minmax(0, 1fr))[16];
      grid-template-columns: repeat(16, minmax(0, 1fr));
}

.grid-16-6 {
  width: 100vw;
  height: 83vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (minmax(0, 1fr))[8];
      grid-template-rows: repeat(8, minmax(0, 1fr));
  -ms-grid-columns: (minmax(0, 1fr))[16];
      grid-template-columns: repeat(16, minmax(0, 1fr));
}

.grid-4-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (minmax(0, 1fr))[1];
      grid-template-rows: repeat(1, minmax(0, 1fr));
  -ms-grid-columns: (minmax(0, 1fr))[4];
      grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 100%;
  height: 100%;
}

.section-rekensom {
  place-items: end;
}

.rekensom--background {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../images/sea-background.png);
}

.rekensom--animal-1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / span 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 /span 2;
}

.rekensom--animal-2 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-column: 6 / span 2;
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  grid-row: 6 /span 2;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.rekensom--animal-3 {
  -ms-grid-column: 10;
  -ms-grid-column-span: 2;
  grid-column: 10 / span 2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 /span 2;
}

.rekensom--animal-4 {
  -ms-grid-column: 14;
  -ms-grid-column-span: 2;
  grid-column: 14 / span 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 /span 2;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.rekensom--image-animal {
  width: 10vw;
  height: 20vh;
}

.rekensom--figure {
  position: absolute;
  bottom: 0;
  left: 0;
}

.rekensom--image {
  height: 50vh;
  width: 12vw;
}

.rekensom--speech-bubble {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / span 4;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / span 1;
}

.section-start {
  place-items: end;
}

.start--background {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../images/start-background.png);
}

.start--btn {
  -ms-grid-column: 7;
  -ms-grid-column-span: 1;
  grid-column: 7 / span 1;
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  grid-row: 6 /span 2;
  visibility: hidden;
  -webkit-animation: scale 2s ease-in-out infinite;
          animation: scale 2s ease-in-out infinite;
}

.start--btn-image {
  height: auto;
  width: 100%;
  -webkit-transform: rotateX(45deg);
          transform: rotateX(45deg);
}

.start--figure {
  -ms-grid-column: 10;
  -ms-grid-column-span: 2;
  grid-column: 10 / span 2;
  -ms-grid-row: 5;
  -ms-grid-row-span: 4;
  grid-row: 5 /span 4;
}

.start--image {
  height: 100%;
  width: 100%;
}

.start--speech-bubble {
  -ms-grid-column: 11;
  -ms-grid-column-span: 4;
  grid-column: 11 / span 4;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 /span 1;
}

.input-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 7;
  -ms-grid-column-span: 8;
  grid-column: 7 / span 8;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / span 2;
  -ms-grid-rows: (minmax(0, 1fr))[4];
      grid-template-rows: repeat(4, minmax(0, 1fr));
  -ms-grid-columns: (minmax(0, 1fr))[4];
      grid-template-columns: repeat(4, minmax(0, 1fr));
  margin: 0 auto;
}

.input-form--text {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / 4;
  width: 39rem;
  height: 10rem;
  margin-top: 1.5rem;
  padding-left: 1rem;
  font-size: 6rem;
}

.input-form--button {
  margin: 2rem 0;
}
/*# sourceMappingURL=main.css.map */