//aanmaken van animaties

@keyframes scale-big{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.4);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes scale{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes scale-small{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

// .slidein-transition{
//     animation: fadein 500ms ease-in;
// }

// @keyframes fadein {
//     from {
//         opacity: 0;
//     }
//     to {
//         opacity: 1;
//     }
// }

.slidein-from-right{
    animation: slidein-from-right 500ms;
}

@keyframes slidein-from-right {
    from {
        transform:translateX(100%);
    }
    to {
        transform:translateX(0%);
    }
}

.slidein-from-left{
    animation: slidein-from-left 500ms;
}

@keyframes slidein-from-left {
    from {
        transform:translateX(-100%);
    }
    to {
        transform:translateX(0%);
    }
}


// @keyframes shake {
//     0% {
//       transform: translate(0);
//     }
//     20% {
//       transform: translate(1.5em);
//     }
//     40% {
//       transform: translate(-1.5em);
//     }
//     60% {
//       transform: translate(1.5em);
//     }
//     80% {
//       transform: translate(-1.5em);
//     }
//     100% {
//       transform: translate(0);
//     }
//   }
@keyframes shake {
    0% {
        transform: translate(0);
    }
    10% {
        transform: translate(1.5em);
    }
    20% {
        transform: translate(-1.5em);
    }
    30% {
        transform: translate(1.5em);
    }
    40% {
        transform: translate(-1.5em);
    }
    50% {
        transform: translate(1.5em);
    }
    60% {
        transform: translate(-1.5em);
    }
    70% {
        transform: translate(1.5em);
    }
    80% {
        transform: translate(-1.5em);
    }
    90% {
        transform: translate(1.5em);
    }
    100% {
        transform: translate(0);
    }
}

.shake{
    animation: shake 2s infinite;
}

@keyframes glow{
    to {
        box-shadow: 0px 0px 15px 15px #FF6600;
      }
}

.glow{
    animation: glow 1s linear infinite alternate;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }

}

.reload_animation {
    animation: spin 2s linear infinite;
}

@keyframes mouth_move{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }

}

.mouth_move{
    animation: mouth_move 0.3s alternate infinite;
    position: absolute;
    left: 5.4vw;
    top: 12.5vh;
    width: 1.75vw;
    border-radius: 50%;
}

.mouth_move_map{
    animation: mouth_move 0.3s alternate infinite;
    position: absolute;
    left: 11vw;
    top: 18.5vh;
    width: 2.75vw;
    border-radius: 50%;
}

.mouth_move_pad{
    animation: mouth_move 0.3s alternate infinite;
    position: absolute;
    left: 5.7vw;
    top: 9.5vh;
    width: 1.4vw;
}
.mouth_move_verblijf{
    animation: mouth_move 0.3s alternate infinite;
    position: absolute;
    left: 7.5vw;
    top: 12.7vh;
    width: 1.4vw;
}
.mouth_move_head{
    animation: mouth_move 0.3s alternate infinite;
    position: absolute;
    left: 6.8vw;
    top: 27vh;
    width: 4.4vw;
    border-radius: 50%;
}

