// aanmaken van een klasse die je vaker gaat gebruiken

// .u-margin-bottom-big{margin-bottom: 8rem !important;}

.hide{
    display: none;
}
.hide-important{
    display: none !important;
}
.margin-top{margin-top: 1rem;}

.grey-bar-position{
    grid-column: 1 / span 16;
    grid-row: 8/ span 1;
}
.grey-bar{
    width: 200%;
    height: 50%;
    background-color: #A8A8A8;
}


.puzzel-btn-options{
    grid-column: 13 / span 4;
    grid-row: 1 /span 1;
}

.modal_view {
    width: 50vh;
    background-color: red;
    display: block;
    text-align: center;
    margin: 0 auto;
    opacity: 1;
    transition: 0.5s all;

    h2 {
        padding: 1rem;
    }

    p {
        margin: 1rem;
    }

    button {
        margin: 1rem;
        padding: 1rem;
        background-color: green;
    }
}

.hide-overlay{
    background-color: rgba(#000, .55);
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    transition: 0.5s all;
}

.hide-overlay-high{
    background-color: rgba(#000, .55);
    z-index: 4;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    transition: 0.5s all;
}

.drag {
    cursor: $cursor-grab
}

.hidden{
    visibility: hidden;
}