.speech-bubble{
    position: relative;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.4rem;
    width: 40rem;
    height: max-content;
    background: #fff;
    border-radius: 4rem;
    padding: 2rem;
    text-align: center;
    color: #000;
    grid-column: 11 / span 4;
    grid-row: 4 /span 1;
}

.speech-bubble::before{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 2.4rem solid #fff;
    border-right: 1.2rem solid transparent;
    border-top: 1.2rem solid #fff;
    border-bottom: 2rem solid transparent;
    left: 3.2rem;
    bottom: -2.4rem;
}