.section-giraffe{
    background-color: $color-path;
}
.article-intro{
    @include background;
    background-image: url(../images/Photoshop-transparant/leeg-hok.png);
}

.article-enclosure{
    display: none;
    grid-column: 1 / span 16;
    grid-row: 1 / span 8;
}

.intro{
    grid-column: 1 / span 2;
    grid-row: 5 / span 3;
    

    &__figure{
        grid-column: 1 / span 2;
        grid-row: 5 / span 4;
        z-index: 50;

        &--image{
            @include zookeeperSize;
        }
    }

    &__speech-bubble{
        grid-column: 2 / span 1;
        grid-row: 4 / span 1;
        align-self: end;
        z-index: 50;
    }

    &__btn{
        grid-column: 14 / span 2;
        grid-row: 7 / span 1;
        z-index: 50;
    }
    &__background{
        grid-column: 1 / span 16;
        grid-row: 2 / span 6; 
        z-index: 0;
        background-size: cover;
        background-repeat: no-repeat;

        &--image{
            width: auto;
            height: 100%;
        }
    }
}

.enclosure-sidebar{
    @include giraffeSidebar;

    &__tree{
        @include giraffeSidebarObject1;
        background-color: red;

        &--image{
            @include giraffeSidebarImage;
            border-radius: 5rem;
        }
    }

    &__rock{
        @include giraffeSidebarObject2;
        background-color: green;

        &--image{
            @include giraffeSidebarImage;
            border-radius: 5rem;
        }
    }
    &__pond{
        @include giraffeSidebarObject3;
        background-color: yellow;

        &--image{
            @include giraffeSidebarImage;
            border-radius: 5rem;
        }
    }
}

.enclosure-sidebar{
    @include giraffeSidebar;

    &__tree-1{
        @include giraffeSidebarObject1;
        background-color: red;

        &--image{
            @include giraffeSidebarImage;
        }
    }

    &__tree-2{
        @include giraffeSidebarObject2;
        background-color: red;

        &--image{
            @include giraffeSidebarImage;
        }
    }
    &__tree-3{
        @include giraffeSidebarObject3;
        background-color: red;

        &--image{
            @include giraffeSidebarImage;
        }
    }
    &__rock-1{
        @include giraffeSidebarObject1;
        background-color: green;

        &--image{
            @include giraffeSidebarImage;
        }
    }

    &__rock-2{
        @include giraffeSidebarObject2;
        background-color: green;

        &--image{
            @include giraffeSidebarImage;
        }
    }
    &__rock-3{
        @include giraffeSidebarObject3;
        background-color: green;

        &--image{
            @include giraffeSidebarImage;
        }
    }
    &__pond-1{
        @include giraffeSidebarObject1;
        background-color: yellow;

        &--image{
            @include giraffeSidebarImage;
        }
    }

    &__pond-2{
        @include giraffeSidebarObject2;
        background-color: yellow;

        &--image{
            @include giraffeSidebarImage;
        }
    }
}

.tree-sidebar, .rock-sidebar, .pond-sidebar{
    display: none;
}
.tree{
    height: 40%;
    width: auto;
}
.rock{
    height: 25%;
    width: auto;
}
.pond{
    height: 20%;
    width: auto;
}
.pond-big{
    height: 30%;
    width: auto;
}

.enclosure-field{
    grid-column: 4/ span 13;
    grid-row: 1 /span 8;
    // background-color: blue;
    background-image: url(../images/Photoshop-transparant/leeg-hok.png);
    @include background;
}

.enclosure-animal{
    grid-column: 1 / span 3;
    grid-row: 6 /span 3;
    z-index: 50;
    background-color: $color-path;

    &--image{
        width: auto;
        height: 100%;
    }
}

.end-btn{
    grid-column: 14 / span 2;
    grid-row: 7 / span 2;
    display: none;
}

