.section-giraffe{
    background-color: $color-path;
}
.article-intro{
    display: none;
    grid-column: 1 / span 16;
    grid-row: 1 / span 8;
}

.article-enclosure{
    grid-column: 1 / span 16;
    grid-row: 1 / span 8;
}

.enclosure-sidebar{
    @include giraffeSidebar;

    &__tree{
        @include giraffeSidebarObject1;

        &--image{
            @include giraffeSidebarImage;
            border-radius: 5rem;
        }
    }

    &__rock{
        @include giraffeSidebarObject2;

        &--image{
            @include giraffeSidebarImage;
            border-radius: 5rem;
        }
    }
    &__fence{
        @include giraffeSidebarObject3;

        &--image{
            @include giraffeSidebarImage;
            border-radius: 5rem;
        }
    }
}

.enclosure-sidebar{
    @include giraffeSidebar;

    &__tree-1{
        @include giraffeSidebarObject1;

        &--image{
            @include giraffeSidebarImage;
        }
    }

    &__tree-2{
        @include giraffeSidebarObject2;

        &--image{
            @include giraffeSidebarImage;
        }
    }
    &__tree-3{
        @include giraffeSidebarObject3;

        &--image{
            @include giraffeSidebarImage;
        }
    }
}

.tree-sidebar{
    display: none;
}
.tree1{
    height: 40%;
    width: auto;
}

.enclosure-field{
    grid-column: 4/ span 13;
    grid-row: 1 /span 8;
    background-color: blue;

}

.enclosure-animal{
    grid-column: 1 / span 3;
    grid-row: 6 /span 3;
    z-index: 50;
    background-color: $color-path;

    &--image{
        width: auto;
        height: 100%;
    }
}
    
