.section-giraffeverblijf{
    background-color: $color-path;
}
.article-intro{
    @include background;
    background-image: url(../images/giraffeverblijf/leeg-hok.png);
}
// testen
// #js--article-intro{
//     display: none;
// }

.article-enclosure{
    display: none;
    grid-column: 1 / span 16;
    grid-row: 1 / span 8;
    background-color: $color-path;
    z-index: 50;
}

.giraffeverblijf-options{
    grid-column: 4 / span 13;
    background-color: $color-path;
   

    &__hint{
        grid-column: 12 / span 1;
        grid-row: 1 /span 1;
        z-index: 70;

        &--image{
            @include widthImageSetting;
            border-radius: 50%;
        }
    }

    // &__btn-information{
    //     grid-column: 12 / span 1;
    //     grid-row: 1 /span 1;
    
    //     &--image{
    //         @include widthImageSetting;
    //     }
    // }

    &__speak{
        grid-column: 13 / span 1;
        grid-row: 1 /span 1;
        z-index: 70;
    
        &--image{
            @include widthImageSetting;
        }
    }
    &__speak-off{
        visibility: hidden;
        z-index: 70;
    }
}

.intro{
    grid-column: 1 / span 2;
    grid-row: 5 / span 3;
    

    &__figure{
        grid-column: 1 / span 2;
        grid-row: 5 / span 4;
        z-index: 50;
        position: relative;
        transform: scaleX(-1);

        &--image{
            @include zookeeperSize;

        }
    }

    &__speech-bubble{
        grid-column: 2 / span 1;
        grid-row: 4 / span 1;
        align-self: end;
        z-index: 50;
    }

    &__btn{
        grid-column: 14 / span 2;
        grid-row: 7 / span 1;
        z-index: 50;
    }
    &__background{
        grid-column: 1 / span 16;
        grid-row: 2 / span 6; 
        z-index: 0;
        background-size: cover;
        background-repeat: no-repeat;

        &--image{
            width: auto;
            height: 100%;
        }
    }
}

.enclosure-sidebar{
    @include giraffeSidebar;

    &__tree{
        @include giraffeSidebarObject1;
        background-color: red;

        &--image{
            @include giraffeSidebarImage;
            border-radius: 5rem;
        }
    }

    &__rock{
        @include giraffeSidebarObject2;
        background-color: green;

        &--image{
            @include giraffeSidebarImage;
            border-radius: 5rem;
        }
    }
    &__pond{
        @include giraffeSidebarObject3;
        background-color: yellow;

        &--image{
            @include giraffeSidebarImage;
            border-radius: 5rem;
        }
    }
}

.enclosure-sidebar{
    @include giraffeSidebar;

    &__tree-1{
        @include giraffeSidebarObject1;
        background-color: red;

        &--image{
            @include giraffeSidebarImage;
        }
    }

    &__tree-2{
        @include giraffeSidebarObject2;
        background-color: red;

        &--image{
            @include giraffeSidebarImage;
        }
    }
    &__tree-3{
        @include giraffeSidebarObject3;
        background-color: red;

        &--image{
            @include giraffeSidebarImage;
        }
    }
    &__rock-1{
        @include giraffeSidebarObject1;
        background-color: green;

        &--image{
            @include giraffeSidebarImage;
        }
    }

    &__rock-2{
        @include giraffeSidebarObject2;
        background-color: green;

        &--image{
            @include giraffeSidebarImage;
        }
    }
    &__rock-3{
        @include giraffeSidebarObject3;
        background-color: green;

        &--image{
            @include giraffeSidebarImage;
        }
    }
    &__pond-1{
        @include giraffeSidebarObject1;
        background-color: yellow;

        &--image{
            @include giraffeSidebarImage;
        }
    }

    &__pond-2{
        @include giraffeSidebarObject2;
        background-color: yellow;

        &--image{
            @include giraffeSidebarImage;
        }
    }
}

.tree-sidebar, .rock-sidebar, .pond-sidebar{
    display: none;
}
.tree{
    height: 40%;
    width: auto;
    position: absolute;
}
.rock{
    height: 20%;
    width: auto;
    position: absolute;
}
.pond{
    height: 20%;
    width: auto;
    position: absolute;
}
.pond-big{
    height: 30%;
    width: auto;
    position: absolute;
}
.position-tree{
    height: 40%;
    width: auto;
    position: absolute;
}

.enclosure-field{
    grid-column: 4/ span 13;
    grid-row: 2 /span 7;
    background-image: url(../images/giraffeverblijf/leeg-hok.png);
    @include background;
}

.enclosure-animal{
    grid-column: 1 / span 3;
    grid-row: 6 /span 3;
    z-index: 50;
    background-color: $color-path;

    &--image{
        width: auto;
        height: 100%;
    }
}

.enclosure-form{
    grid-column: 1 / span 11;
    grid-row: 1;
    z-index: 50;
    margin-left: 1.5rem;
    align-self: center;

    &--input[type=checkbox]{
        transform: scale(2.5);
        vertical-align: super;
        cursor: $cursor-plain;
        overflow: hidden;
    }

    &--label{
        font-size: 3.5rem;
        margin-left: 2rem;
        margin-right: 2.5rem;
        cursor: $cursor-plain;
        overflow: hidden;
    }
}

.giraffeverblijf-hide-overlay{
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 60;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
}

.enclosure-head{
    grid-column: 7 / span 3;
    grid-row: 5 / span 3;
    z-index: 60;
    position: relative;

    &--image{
        width: 20vw;
        height: auto;
    }
}
.giraffeverblijf__speech-bubble{
    grid-column: 9 / span 1;
    grid-row: 4 / span 1;
    align-self: end;
    z-index: 60;

    &--buttons{
        padding-bottom: 1rem;
    }
}

.end-btn{
    grid-column: 14 / span 2;
    grid-row: 7 / span 2;
    display: none;
    z-index: 50;
}

.giraffeverblijf__keuze {
    &--dierentuin {
        width: 75%;
    }
    &--natuur {
        width: 60%;
    }
}

@media (max-width: 1400px){
    .tree{
        height: 37%;
    }
    .rock{
        height: 17%;
    }
    .pond{
        height: 17%;
    }
    .pond-big{
        height: 32%;
    }
}
@media (max-width: 1200px){
    .tree{
        height: 35%;
    }
    .rock{
        height: 15%;
    }
    .pond{
        height: 15%;
    }
    .pond-big{
        height: 30%;
    }
}
@media (min-width: 1700px){
    .tree{
        height: 42%;
    }
    .rock{
        height: 22%;
    }
    .pond{
        height: 22%;
    }
    .pond-big{
        height: 37%;
    }
}

