.background_ijs {
    background: url("../images/ijsbar/ijs-background.png");
    background-size: cover;
}

.ijsco_kraam {
    grid-column: 3 / span 6;
    grid-row: 1 / span 9;

    &__img {
        width: 40vw;
    }

    &__balie {
        width: 40vw;
        z-index: 5;
    }
}

.ijs {
    opacity: 0;
    z-index: -1;

    &_hoorn {
        grid-column: 8 / span 2;
        grid-row: 5 / span 3;
        margin-top: 60px;
    }

    &_overlay {
        opacity: 0;
        transition: 0.5s all;
        z-index: -1;
    }

    &_animatie {
        animation: scale-small 2s ease-in-out infinite;
    }

    &_balie {
        grid-column: 9;
        grid-row: 4;
    }

    &_speech-bubble {
        grid-column: 7;
        grid-row: 2;
        opacity: 1;
        transition: 0.5s all;
        z-index: 1;

        &::before {
            left: 32rem;
            transform: scaleX(-1);
        }

        &-head {
            position: absolute;
            top: -165px;
            left: 30vw;
            top: -130px;

            &::before {
                content: none;
            }
        }
    }

    &_zookeeper {
        grid-column: 2;
        grid-row: 3;

        &__image {
            width: 15vw;
            display: none;
        }
    }

    &_verkoper {
        grid-column: 9;
        grid-row: 3;

        &__image {
            width: 35vw;
            z-index: 1;
        }
    }

    &_tafel {
        grid-column: 3;
        grid-row: 6;

        &__image {
            width: 20vw;
        }
    }

    &_keuze {
        border: 2px solid black;
        &_drop1 {
            grid-column: 7 / span 3;
            grid-row: 3 / span 3;

            &_image {
                width: 190px;
                display: block;
                margin: 70px 0 0 60px;
                opacity: 50%;
            }
        }

        &_drop2 {
            grid-column: 7 / span 3;
            grid-row: 1 / span 3;

            &_image {
                width: 190px;
                display: none;
                margin: 135px 0 0 60px;
                opacity: 50%;
            }
        }

        &_drop3 {
            grid-column: 7 / span 3;
            grid-row: 1 / span 3;

            &_image {
                width: 190px;
                display: none;
                margin: 60px 0 0 60px;
                opacity: 50%;
            }
        }

        &_titel {
            font-size: 32px;
            position: relative;
            bottom: 50px;
            left: 25px;
        }

        &_kassa {
            background-color: #c5c5c5;
            grid-column: 1 / span 6;
            grid-row: 5 / span 5;
            border: 5px solid black;
            display: flex;
            justify-content: center; 
            align-items: center;
            flex-direction: column;

            &_veld {
                font-size: 36px;
                display: none;
            }
        }

        &_geld {
            &1 {
                grid-column: 1;
                grid-row: 2;
            }

            &2 {
                grid-column: 2;
                grid-row: 3;
            }

            &3 {
                grid-column: 3;
                grid-row: 2;
            }

            &4 {
                grid-column: 4;
                grid-row: 3;
            }
            
            &5 {
                grid-column: 5;
                grid-row: 2;
            }

            &6 {
                grid-column: 6;
                grid-row: 3;
            }   
        }
    }

    &_popup {
        display: grid;
        position: relative;
        grid-template-columns: repeat(16, minmax(0, 1fr));
        grid-template-rows: repeat(9, minmax(0, 1fr));
        background-color: #ffe0db;
        grid-column: 3 / span 12;
        grid-row: 2 / span 7;
        transition: 0.5s all;
        z-index: -1;
        opacity: 0;

        &_geel {
            background-color: #f5ef8c;
            grid-column: 11 / span 2;
            grid-row: 2 / span 3;
            border-radius: 70px;
        }

        &_groen {
            background-color: #bfe3ae;
            grid-column: 14 / span 2;
            grid-row: 2 / span 3;
            border-radius: 70px;
        }

        &_blauw {
            background-color: #aea6d3;
            grid-column: 11 / span 2;
            grid-row: 6 / span 3;
            border-radius: 70px;
        }

        &_roze {
            background-color: #f69aa7;
            grid-column: 14 / span 2;
            grid-row: 6 / span 3;
            border-radius: 70px;
        }
    }

    &bol {
        z-index: 5;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.drop {
    left: 45px;
}

.geld {
    width: 100px;
}
.btn_ijs {
    display: none;
}

.head_ijsco {
    &_img {
        z-index: 1;
        width: 150px;
        position: absolute;
        top: -165px;
        left: 20vw;
    }
}

.grid-16-1 {
    position: relative;
}