.ijsco {
    background: url("../images/ijsbar/ijs-background.png");
    background-size: cover;
}

.ijsco_kraam {
    grid-column: 3 / span 6;
    grid-row: 1 / span 9;

    &__img {
        width: 40vw;
    }

    &__balie {
        width: 40vw;
    }
}

// .ijskar {
//     &_counter {
//         background-color: #c9cacb;
//         grid-column: 4 / span 10;
//         grid-row: 2 / span 6;
//         z-index: -1;
//         opacity: 0;
//     }
// }

.ijs {
    opacity: 0;
    z-index: -1;

    &_hoorn {
        grid-column: 3 / span 2;
        grid-row: 5 / span 2;
        margin-left: 15px;
        margin-top: 50px;
    }

    &_roze {
        grid-column: 3 / span 2;
        grid-row: 4 / span 2;
    }

    &_groen {
        grid-column: 3 / span 2;
        grid-row: 3 / span 2;
    }

    &_blauw {
        grid-column: 3 / span 2;
        grid-row: 2 / span 2;
    }

    &_overlay {
        opacity: 0;
        transition: 0.5s all;
        z-index: -1;
    }

    &_animatie {
        animation: scale-small 2s ease-in-out infinite;
    }

    &_balie {
        grid-column: 9;
        grid-row: 4;
    }

    &_zookeeper {
        grid-column: 2;
        grid-row: 3;

        &__image {
            width: 15vw;
        }
    }
}