.section-start{
    place-items: end;
}

.start{
    &--background{
        @include background;
        background-image: url(../images/start-background.png);
    }

    &__figure{
        grid-column: 9 / span 2;
        grid-row: 5 /span 4;
        position: relative;

        &--image{
            width: 100%;
            height: auto;
        }
    }

    &__speech-bubble{
        grid-column: 10 / span 4;
        grid-row: 4 /span 1;   
    }
}

.start__btn{
    grid-column: 7 / span 1;
    grid-row: 6 /span 2;
    visibility: hidden;

    animation: scale-big 2s ease-in-out infinite;

    &--image{
        height: auto;
        width: 100%;
        transform: rotateX(45deg);
    }
}

