.section-start{
    place-items: end;
}

.start{
    &--background{
        @include background;
        background-image: url(../images/start-background.png);
    }

    &-figure{
        grid-column: 10 / span 2;
        grid-row: 5 /span 4;

        &--image{
            height: 100%;
            width: 100%;
        }
    }

    &--speech-bubble{
        grid-column: 11 / span 4;
        grid-row: 4 /span 1;   
    }
}

.start-options{
    grid-column: 13 / span 4;
    grid-row: 1 /span 1;
    z-index: 100;

    &__btn-hint{
        grid-column: 1 / span 1;
        grid-row: 1 /span 1;

        &--image{
            @include widthImageSetting;
        }
    }

    &__btn-information{
        grid-column: 2 / span 1;
        grid-row: 1 /span 1;
    
        &--image{
            @include widthImageSetting;
        }
    }

    &__btn-music{
        grid-column: 3 / span 1;
        grid-row: 1 /span 1;
    
        &--image{
            @include widthImageSetting;
        }
    }
    &__btn-music-off{
        visibility: hidden;
    }

    &__btn-speak{
        grid-column: 4 / span 1;
        grid-row: 1 /span 1;
    
        &--image{
            @include widthImageSetting;
        }
    }
    &__btn-speak-off{
        visibility: hidden;
    }
}

.start-btn{
    grid-column: 7 / span 1;
    grid-row: 6 /span 2;
    visibility: hidden;

    animation: scale-big 2s ease-in-out infinite;

    &--image{
        height: auto;
        width: 100%;
        transform: rotateX(45deg);
    }
}