* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    box-sizing: inherit;
    font-size: 62.5%;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    cursor: url("../../images/cursor_plain_60.cur"), default;
}

h1 {
    color: red;
}


