// aanmaken van een klasse die je vaker gaat gebruiken

// .u-margin-bottom-big{margin-bottom: 8rem !important;}

.hide{
    display: none;
}

.grey-bar-position{
    grid-column: 1 / span 16;
    grid-row: 8/ span 1;
}
.grey-bar{
    width: 200%;
    height: 50%;
    background-color: #A8A8A8;
}

.walk-path-position{
    grid-column: 1 / span 16;
    grid-row: 9/ span 1;
    
}
.walk-path{
    width: 200%;
    height: 100%;
    background-color: #F0EAD2;
}

.puzzel-btn-options{
    grid-column: 13 / span 4;
    grid-row: 1 /span 1;
}