// verschillende components zoals een card, button, form etc.
// deze is bedoeld alleen voor verschillende buttons. dit is gewoon een klasse die je aanmaakt
// en elke keer kan hergebruiken.

.btn-check{
    &,
    &:link,
    &:visited{
        text-decoration: none;
        // padding: 0rem 6rem;
        border-radius: 10rem;
        border: 1px solid $color-black;
        font-size: 4rem;
        background-color: $color-btn !important;
        box-shadow: 0 1rem 2rem rgba($color-black, .4);
    }

    &:hover{
        background-color: $color-btn;
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);
    }

    &:active
    {
        outline: none;
        background-color: $color-btn;
        transform: translateY(0px);
        box-shadow: inset 0 0 0.5rem 0.5rem rgba($color-black, .2);
    }
    
}

.button {
    cursor: url("../images/cursor_point_60.cur"), default;
    background-color: transparent;
    border: none;
}

.btn-ok{
    &,
    &:link,
    &:visited{
        text-decoration: none;
        padding: 0rem 3rem;
        border-radius: 10rem;
        border: 1px solid $color-black;
        font-size: 2rem;
        background-color: $color-btn !important;
        box-shadow: 0 1rem 2rem rgba($color-black, .4);
        margin-top: 1rem;
    }

    &:hover{
        background-color: $color-btn;
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);
    }

    &:active
    {
        outline: none;
        background-color: $color-btn;
        transform: translateY(0px);
        box-shadow: inset 0 0 0.5rem 0.5rem rgba($color-black, .2);
    }
}

.next-page-right{
    text-decoration: none;
    grid-column: 15 / span 2;
    grid-row: 3 /span 3;
    width: 100%;
    height: 100%;
    background-color: rgba(239, 239, 239, .65);
    clip-path: polygon(0% 30%, 60% 30%, 60% 0%, 100% 50%, 60% 100%, 60% 70%, 0% 70%);
}

.next-page-left{
    text-decoration: none;
    grid-column: 1 / span 2;
    grid-row: 3 /span 3;
    width: 100%;
    height: 100%;
    background-color: rgba(239, 239, 239, .65);
    clip-path: polygon(40% 0%, 40% 30%, 100% 30%, 100% 70%, 40% 70%, 40% 100%, 0% 50%);
}

// .drag {
//     width: 40px;
//     height: 40px;
//     margin-bottom: 50px;
//     cursor: url("../images/cursor_grab_60.cur"), default;
// }

.map-btn {
    display: none;
    grid-column-start: 14;
    grid-row-start: 5;
}
