.puzzel-options{
    
    &__btn-hint{
        grid-column: 15 / span 1;
        grid-row: 1 /span 4;
        z-index: 3;
        &--image{
            @include widthImageSetting;
            border-radius: 50%;
            // Hier moet de glow class werken.
        }
        // &-glow {
        //     animation: glow 1s linear infinite alternate;
        // }
    }

    // &__btn-information{
    //     grid-column: 15 / span 1;
    //     grid-row: 1 /span 4;
    //     z-index: 3;
    //     &--image{
    //         @include widthImageSetting;
    //     }
    // }

    &__btn-speak{
        grid-column: 16 / span 1;
        grid-row: 1 /span 4;
        z-index: 3;
        &--image{
            @include widthImageSetting;
        }
    }
    
    &__btn-speak-off{
        visibility: hidden;
        z-index: 3;
    }
}