.speech-bubble{
    position: relative;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 3rem;
    width: 38.5rem;
    height: max-content;
    background: $color-white;
    border-radius: 4rem;
    padding: 2rem;
    text-align: center; 
    // transition: all 0.2s;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;  
}

.speech-bubble::before{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 2.4rem solid $color-white;
    border-right: 1.2rem solid transparent;
    border-top: 1.2rem solid $color-white;
    border-bottom: 2rem solid transparent;
    left: 3.2rem;
    bottom: -2.4rem;
}

.speech-bubble-explaine{
    @include widthImageSetting;
}

.speech-bubble-explaine-big{
    width: 20rem;
    height: auto;
}

.speech-bubble-reload {
    position: absolute;
    width: 6rem;
    right: -5vw;
    top: 1vh;
    display: none;
    // @include widthImageSetting;
    // float: right;
    // opacity: 0;
    // transition: 0.5s all;
    &--intro {
        position: absolute;
        width: 6rem;
        right: -5vw;
        top: 1vh;
        display: none;       
    }
    &--hint{
        position: absolute;
        width: 6rem;
        right: -5vw;
        top: 1vh;
        display: none;
    }
    &--end {
        position: absolute;
        width: 6rem;
        right: -5vw;
        top: 1vh;
        display: none;
    }
    &--ijs {
        position: absolute;
        width: 6rem;
        right: -5vw;
        top: 1vh;
        display: none;       
    }
}
