.map {
    background-color: $color-path;

    &__sign {
        grid-column: 2 / span 6;
        grid-row: 1 / span 9;

        &--image{
            width: 33vw;
        }
    }

    &__map{
        grid-column: 3 / span 3;
        grid-row: 2 / span 3;

        &--image{
            width: 22vw;
            height: 40vh;
        }
    }

    &__zookeeper{
        grid-column: 12 / span 3;
        grid-row: 2 /span 8;

        &--image {
            width: 20vw;
            height: auto;
        }
    }
}

.map--speech-bubble {
    grid-column-start: 9;
    opacity: 1;
    transition: 0.5s all;
    z-index: 1;
}

.map--speech-bubble::before {
    left: 32rem;
    transform: scaleX(-1);
}