.background-start{
    @include background;
    background-image: url(../../images/start-background.png);
}

.section-start{
    place-items: end;
}

.start{

    &--btn{
        grid-column: 7 / span 1;
        grid-row: 6 /span 2;
        visibility: hidden;
    
        animation: scale 2s ease-in-out infinite;

        &-image{
            height: auto;
            width: 100%;
            transform: rotateX(45deg);
        }
    }

    &--figure{
        grid-column: 10 / span 2;
        grid-row: 5 /span 4;
    }

    &--image{
        height: 100%;
        width: 100%;
    }

}


// .no-selecting p{
//     -webkit-user-select: none;  /* Chrome all / Safari all */
//     -moz-user-select: none;     /* Firefox all */
//     -ms-user-select: none;      /* IE 10+ */
//     user-select: none;  
// }
