.background-start{
    @include background;
    background-image: url(../../images/background-start.jpg);
}

.start{

    &--btn{
        grid-column: 7 / span 1;
        grid-row: 6 /span 2;
        visibility: hidden;
    
        animation: scale 2s ease-in-out infinite;

        &-image{
            height: 100%;
            width: 100%;
            transform: rotateX(45deg);
        }
    }

    &--figure{
        grid-column: 10 / span 2;
        grid-row: 5 /span 4;
    }

    &--image{
        height: 100%;
        width: 100%;
    }
}
